.activity-card {
    min-width: 50%;
}

.arrow-icon {
    height: 30px;
    aspect-ratio: 1/1;
}


.clock-icon {
    height: 60px;
    aspect-ratio: 1/1;
}

.next-arrow-icon {
    height: 40px;
    aspect-ratio: 1/1;
}

.next-clock-icon {
    height: 100px;
    aspect-ratio: 1/1;
}