.activity-modal {
    max-width: none !important;
    width: 40vw !important;
}

.userIcon-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal-footer {
    justify-content: space-between !important;
}

.attendeesNumber {
    text-align: left;
}

.activity-card {
    min-width: 20rem !important;
}