.pfp {
    height: 200px !important;
    aspect-ratio: 1/1;
}

.personalia {
    flex: 3;
    min-width: 525px !important;
}

.user-data {
    flex: 1;
    min-width: 525px !important;
}

@media (max-width: 525px) {
    .personalia {
        flex: 1;
        min-width: 250px !important;
    }

    .user-data {
        flex: 1;
        min-width: 250px !important;
    }

}

.profile-table>*>* {
    color: #0036a0;

    >* {
        border: none !important;
        padding: 0 !important;
    }

    th {
        padding-right: 1rem !important;
    }
}

@media (max-width: 525px) {
    .personalia {
        .pfp {
            display: none;
            width: 0;
        }
    }
}