.card {
    background-color: #f0d9dd !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #0036a0;
}

.card-title {
    font-size: 24px;
    color: #0036a0;
}

.list-group {
    float: left;
    padding-left: 30px !important;
    width: 100%;
    color: #0036a0;
}

.card-body {
    overflow: hidden;
}