.example-forum-post {
    background-color: #f0d9dd;
    //height: 100px;
    width: 100%;
    margin: 0 0 5% 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .forum-post-header {
        display: flex;
        width: 100%;

        .poster-pfp {
            height: 40px;
            aspect-ratio: 1/1;
            background-color: rgb(150, 150, 150);
            margin: 10px;
            border-radius: 50%;
        }

        .poster-header {
            margin: 15px 15px 15px 15px;
            width: 100%;
        }

        .poster-name {
            font-size: large;
            font-weight: bolder;
            color: #0036a0;
        }

        .divider-one {
            width: 100%;
            border: 1px solid rgba(0, 54, 160, 0.1);
        }



        .tags {
            grid-column: 2/4;
            display: flex;
            //justify-content: space-around;

            .tag {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 5px 5px 5px 5px;
                margin: 0 10px 0 10px;
                font-weight: bolder;
                font-size: large;
                line-height: 1rem;
                padding: 5px;
                transform: translateY(-5px);
                color: white;
            }

            .tag-1 {
                background-color: red;
            }

            .tag-2 {
                background-color: blue;
            }

            .tag-3 {
                background-color: purple;
            }
        }

        .headers {
            display: grid;
            grid-template-columns: repeat(4, 1fr) 5%;
        }

        .post-time {
            color: rgba(0, 54, 160, 0.5);
            grid-column: 4;
            text-align: right;
        }

        .collapse-button {
            height: 30px;
            width: 30px;
            border: none;
            background-color: #f0d9dd;
            justify-self: end;
            transform: translateY(-5%);

            .arrow-icon {
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }

    .content-section {
        padding: 10px 20px 10px 20px;
        width: 100%;
        color: #0036a0;

        h2 {
            font-size: x-large;
        }

        p {
            overflow: hidden;
        }
    }
}