.forum-post-card {
    min-width: 21rem !important;
    border-radius: 3rem 0 3rem 0 !important;
}

.filter {
    height: 40px;
    aspect-ratio: 1/1;
}

.poster-pfp {
    width: 60px !important;
    aspect-ratio: 1/1;
}

.arrow-icon {
    height: 40px;
    aspect-ratio: 1/1;
}

.action-icon {
    height: 25px !important;
    width: 25px !important;
}

.action-icon:hover {
    cursor: pointer !important;
}

.action-icon.reported:hover {
    cursor: not-allowed !important;

}

.box {
    width: 50% !important;
    height: 1.5rem !important;
    background-color: #fff;
}

.profile-section {
    gap: 1rem;
    flex: 1 !important;
}

.info-section {
    flex: 2 !important;
}

@media (max-width: 575px) {
    .forum-post-card {
        border-radius: 0rem 0 3rem 0 !important;
    }

    .profile-section {
        gap: 0;
    }

    .poster-pfp {
        display: none;
    }

    .header-row {
        flex-direction: column;

        .profile-section-info {
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }

        .info-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;
        }

        .time-and-arrow {
            width: 100% !important;
        }
    }

}