.card-body,
.card {
  //background-color: #0036a0;
  color: white;
}

.card {
  overflow: hidden;
  border-radius: 0 0 3rem 0;
}


.card-footer {
  background-color: inherit;
}

.card-body {
  overflow: hidden;
}


.card-header {
  background-color: inherit;
}

.card,
.card-footer,
.card-header,
.card-body {
  border: none;
}