.card {
    background-color: #f6e6e9 !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #0036a0;
}

// .card-title {
//     font-size: 24px;
//     color: #0036a0;
// }

.card-footer {
    background-color: inherit !important;
    //border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.card-body {
    overflow: hidden;
}


.card-header {
    background-color: inherit !important;
}