.bg-antes-red {
    background-color: #ab0909 !important;
}

.antes-red {
    color: #ab0909;
}

.antes-white {
    background-color: #ffffff;
}

.antes-secondary {
    color: #65c2c8 !important;
}

.border-antes-secondary {
    border-color: #65c2c8 !important;

}

.bg-antes-secondary {
    background-color: #65c2c8 !important;
}

.antes-primary {
    color: #0036a0;
}

.bg-antes-primary {
    background-color: #0036a0 !important;
}

.bg-antes-primary {
    background-color: #0036a0 !important;
}

.bg-antes {
    background-color: #f6e6e9;
}