:root {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 575px) {
  body {
    position: absolute;
  }
}

html,
.bg-color {
  background: rgb(222, 181, 189);
  background: linear-gradient(90deg, #DAC0C6 0%, #F2E3E5 50%, #DAC0C6 100%);
}

.bg-color {
  min-height: calc(100vh - 5rem);
}

a {
  color: #000000;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.antes-red {
  background-color: #760000;
}

.antes-white {
  background-color: #ffffff;
}

.table,
tbody,
th,
td,
tr {
  background-color: inherit !important;
}

body {
  background-color: #f6e6e9;
}

.blue-text {
  color: #0036a0 !important;
}

.no-border:focus,
.no-border {
  border-width: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.antes-red-image {
  filter: invert(7%) sepia(98%) saturate(6211%) hue-rotate(1deg) brightness(90%) contrast(107%);
}

.antes-blue-image {
  filter: invert(9%) sepia(76%) saturate(5782%) hue-rotate(219deg) brightness(102%) contrast(101%);
}

.gray-image {
  filter: invert(30%) sepia(6%) saturate(855%) hue-rotate(169deg) brightness(92%) contrast(88%);
}


.list-group {
  float: left;
  padding-left: 30px !important;
  width: 100%;
  color: #0036a0;
}


.no-after::after {
  content: none !important;
}

.drop-shadow {
  filter: drop-shadow(2px 4px 10px rgb(85, 85, 85));
}

.hover-pointer:hover {
  cursor: pointer;
}