:root {
  ::-webkit-scrollbar {
    display: none;
  }
}

html,
.bg-color {
  background-color: #f6e6e9;
}

a {
  color: #000000;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.antes-red {
  background-color: #760000;
}

.antes-white {
  background-color: #ffffff;
}

body {
  background-color: #f6e6e9;
}

.blue-title {
  color: #0036a0;
}

details[aria-disabled="true"] {
  summary {
    cursor: auto !important;
  }
}

details[open] summary~* {
  animation: sweep 0.25s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    //margin-left: -10px
  }

  100% {
    opacity: 1;
    //margin-left: 0px
  }
}

details>summary:first-of-type {
  list-style-type: none;
}

.no-border {
  border-width: 0px !important;
}

.antes-red-image {
  filter: invert(7%) sepia(98%) saturate(6211%) hue-rotate(1deg) brightness(90%) contrast(107%);
}

.antes-blue-image {
  filter: invert(9%) sepia(76%) saturate(5782%) hue-rotate(219deg) brightness(102%) contrast(101%);
}

.card {
  background-color: #f0d9dd !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #0036a0;
}

.card-title {
  font-size: 24px;
  color: #0036a0;
}

.list-group {
  float: left;
  padding-left: 30px !important;
  width: 100%;
  color: #0036a0;
}

.card-body {
  overflow: hidden;
}

.no-after::after {
  content: none !important;
}

.drop-shadow {
  filter: drop-shadow(2px 4px 10px rgb(85, 85, 85));
}