.small-width-button {
    width: 80px;
    margin: 0 10px;
}

.remove-tag {
    background-color: #89CFF0;
    border: none;
    color: inherit;
    font-size: smaller;
    padding: 0.5rem;
    cursor: pointer;
}