.antes-picture {
    width: 400px;
}

.table {
    border-color: rgba(0, 0, 0, 0.175);
}

.general-info-card {
    min-width: 20rem !important;
}

.unknown-card {
    min-width: 15rem !important;
}