.about-title {
    color: #0036a0;
}

.table {
    border-color: rgba(0, 0, 0, 0.175);
}

.map-image {
    width: 100%;
}

.general-info-card {
    flex: 2;
}

.unknown-card {
    flex: 3;
}