.profile-box {
    width: 35%;
    float: right;
}

.profileIcon {
    width: 13rem;
    height: 13rem;
}

.name {
    float: right;
    padding: 1.5rem;
}

.profile-info {
    width: 50%;
    background-color: #f0d9dd;
    padding: 2rem;
    margin-top: 10rem;


}

.bio {
    width: 100%;
    word-wrap: break-word;
    padding-top: 3rem;
}