.profile-box {
    width: 35%;
    float: right;
    color: #0036a0;
}

.profileIcon {
    max-width: 13rem;
    max-height: 13rem;
    aspect-ratio: 1/1;
    flex:1;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1.5rem;
    
    color: #0036a0;
}

.profile-info-header {
    display: flex;
    align-items: center;
}

.profile-info {
    width: 60%;
    //background-color: red;
    background-color: #f0d9dd;
    padding: 2rem;
    margin-top: 10rem;
    
    //grid-template-columns: repeat(2,1fr);
    //grid-template-rows: repeat(2, 1fr);
}

.bio {
    width: 100%;
    word-wrap: break-word;
    color: #0036a0;
    //padding-top: 3rem;
}