.welcome-title {
    text-align: left;
    color: #0036a0;
}

.next-activity-container {
    flex: 3;
}

.pop-forum-post-container {
    flex: 2;
}

.training-container {
    flex: 2;
}