.filter {
    height: 40px;
    aspect-ratio: 1/1;
}

.poster-pfp {
    width: 60px !important;
    aspect-ratio: 1/1;
}

.arrow-icon {
    height: 40px;
    aspect-ratio: 1/1;
}

.action-icon {
    height: 25px !important;
    width: 25px !important;
}

.action-icon:hover {
    cursor: pointer !important;
}