.forum-header {
    color: #0036a0;
}

.filter-icon {
    height: 100%;
    aspect-ratio: 1/1;
}

.filter {
    --filter-height: 40px;
    height: var(--filter-height);

    summary {
        height: 100%;
        float: right;
    }

    .filter-options {
        background-color: #f0d9dd;
        position: relative;
        margin-top: 5px;
        z-index: 999;

        // .filter-option {
        //     padding: 15px;
        //     border: 1px solid rgba(0, 0, 0, 0.1);
        //     font-size: larger;
        //     font-weight: bold;
        // }
    }
}

.poster-pfp {
    width: 60px;
    aspect-ratio: 1/1;
    background-color: #6e6e6e;
    border-radius: 50%;
}

.card-header {
    background-color: inherit !important;
}