.nav-container {
  justify-content: space-around !important;
  height: 6rem;
}

.navbar-logo {
  height: 3rem;
}

.hamburger {
  height: 3rem;
}

.hamburger-container {
  transition: 750ms;
  height: 100vh !important;
  width: 6.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  padding-right: 2rem;
}

.hamburger-container-show {
  width: 0;
}

.offcanvas {
  z-index: 99999 !important;
}

.offcanvas-link {
  max-width: fit-content;
  padding-right: 2.5rem;
  border-bottom: solid 2px #65c2c8 !important;
}

@media (max-width: 1520px) {
  .hamburger-container {
    height: 100% !important;
  }

  .profile-icon-container {
    width: 0;
    .profile-image {
      display: none !important;
    }
  }
}

.profile-image {
  width: 4rem;
}

@media (max-width: 400px) {
}

@media (max-width: 300px) {
  .navbar-logo {
    display: none;
  }

  .nav-container {
    justify-content: start !important;
  }

  .hamburger-container {
    width: 100%;
    justify-content: flex-end;
  }
}