.calendar-card {
    padding: 1rem 0 3rem 0;
    border-radius: 6rem 0 6rem 0 !important;
    background-color: #0036a0 !important;
}

// Alle buttons in de Calendar
.react-calendar {
    button {
        background-color: #ffffff;
        color: #0036a0 !important;
        //box-shadow: 0 1rem 3rem rgba(#65c2c8, .25);
        border-radius: 5px;

        // borders voor alle buttons in de Calendar
        border: 1px solid #083da7;
        //border: none;

        &:hover {
            background: #0036a0;
            color: #ffffff !important;
            border: none;
        }
    }
}

// Bovenste balk in Calendar
.react-calendar__navigation {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    margin-bottom: 1rem;

    .react-calendar__navigation__label {
        min-width: 170px !important;
        flex: 0;
    }

    button {
        max-width: 25%;
        font-weight: 700;
    }
}

// Zet afgekorte weekdagen (ma, di, wo..) gecentered boven de buttons van de dagen
.react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

// Container van de buttons van de dagen
.react-calendar__month-view__days {
    column-gap: 0.25rem;

    button {
        margin-top: 0.25rem;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        max-height: 4rem;

        // Elke button is 1/7 van de hele breedte van de parent (vandaar 100%/7)
        // Hiervoor moet de ^column-gap^ worden afgetrokken zodat de buttons niet overflowen
        width: calc(100%/7 - 0.25rem) !important;
        // Flex (grow) uit zodat de width goed kan worden toegepast
        flex: none !important;
        aspect-ratio: 3/2;

        abbr {
            font-weight: 700;
        }

        .tile-activity-dot {
            background-color: #ab0909;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            margin: 0 auto;
        }

        .tile-activity-line {
            height: 1rem;
        }

        .tile-activity-title {
            font-size: 0.75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 767px) {
    .react-calendar__month-view__days {
        .tile-activity-line {
            display: none !important;
        }
    }

    .calendar-card {
        border-radius: 0 !important;
        padding: 0;
    }
}